@font-face{
  font-family: "Semibold";
  src: url('../fonts/Semibold.otf');
}

@font-face{
  font-family: "Bold_Font";
  src: url('../fonts/Bold.otf');
}

@font-face{
  font-family: "Alt_Light";
  src: url('../fonts/Alt_Light.otf');
}

@font-face{
  font-family: "Thin_Italic";
  src: url('../fonts/Thin_Italic.otf');
}

@font-face{
  font-family: "Regular";
  src: url('../fonts/Regular.otf');
}

@font-face{
  font-family: "Bold_Italic";
  src: url('../fonts/Bold_Italic.otf');
}

@font-face{
  font-family: "Semibold_Italic";
  src: url('../fonts/Semibold_Italic.otf');
}



